  ipython
  ipywidgets
  jax
  jaxlib
  jupyter_client
  jupyter_core
  jupyterlab
  lxml
  matplotlib
  numba
  numpy
  pandas
  patsy
  pip
  pymc
  pydot
  graphviz
  scikit-learn
  scipy
  seaborn
  setuptools
  xlrd